<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<!--nav bar-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment" ></nav>

<div class="large-padding index-container-width">
    <h1 class="auto-margin">500</h1>
    <p class="mini-margin">Internal Server Error. </p>
</div>
<footer th:replace="_fragments :: footer"></footer>
</body>
</html>