<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <!--nav bar-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment" ></nav>

    <!--body-->
    <div id="waypoint" class="large-padding index-container-width">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                        <!--header part-->
                    <div class="ui top attached segment">
                        <h3 class="ui olive header">Blogs</h3>
                    </div>

                        <!--Blog part-->
                    <div class="ui attached olive segment">
                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                         <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui padded vertical segment">
                            <p class="date-text text-thin">Date: Sept.8, 2018 </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header blog-title"> First Blog!</h3>
                                    <p class="blog-quote"> I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                        I will write sth here finallyI will write sth here finally
                                    </p>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                        <!--bottom part-->
                        <div class="ui bottom attached segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <a href="#" class="ui olive basic button">Previous</a>
                                </div>
                                <div class="right aligned column">
                                    <a href="#" class="ui olive basic button">Next</a>
                                </div>
                            </div>
                        </div>
                </div>

                    <!--right part-->
                <div class="five wide column">
                    <!--classifications-->
                    <div class="ui top attached segment">
                        <i class="lightbulb outline icon"></i><a href="#" class="side-bar-title">Classification</a>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" target="_blank" class="item"> Daily Diary</a>
                            <a href="#" target="_blank" class="item"> Study Notes</a>
                            <a href="#" target="_blank" class="item"> Daily Diary</a>
                            <a href="#" target="_blank" class="item"> Study Notes</a>
                            <a href="#" target="_blank" class="item"> Daily Diary</a>
                            <a href="#" target="_blank" class="item"> Study Notes</a>
                            <a href="#" target="_blank" class="item"> Daily Diary</a>
                            <a href="#" target="_blank" class="item"> Study Notes</a>
                        </div>
                    </div>

                    <!--Tags-->
                    <div class="ui top attached segment">
                        <i class="tags icon"></i><a href="#" class="side-bar-title">Tags</a>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" target="_blank" class="item"> Therapy</a>
                            <a href="#" target="_blank" class="item"> Algorithm</a>
                            <a href="#" target="_blank" class="item"> Evelyn</a>
                            <a href="#" target="_blank" class="item"> Algorithm</a>
                            <a href="#" target="_blank" class="item"> Therapy</a>
                            <a href="#" target="_blank" class="item"> Algorithm</a>
                            <a href="#" target="_blank" class="item"> Therapy</a>


                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>

    <div class="to-top-at-right-bottom" style="z-index: 1">
        <div class="ui vertical icon buttons">
            <div id="toTop" class="ui olive icon button"><i class="chevron up icon"></i></div>
        </div>
    </div>


    <!--footer-->
    <footer th:replace="_fragments :: footer"></footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
        <script src="../static/lib/waypoints/jquery.waypoints.js" th:src="@{lib/waypoints/jquery.waypoints.js}"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('#toTop').on('click',function(){
            $(window).scrollTo(0,500);
        });

        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function(direction) {
                if(direction=='down'){
                    $('#toTop').show();
                }else{
                    $('#toTop').hide();
                }
                console.log('Scrolled to waypoint!'+direction);
            }
        })
</script>

</body>
</html>